
<%- include('../../shared/includes/head', { pageTitle: 'product.title' }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-managment.js" defer=""></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
<main id="product-details">
   <header>
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <div id="product-info">
        <hq><%= product.title %> </hq>
        <p><%= product.price %></p>
        <button class="btn-custom" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add to Cart</button>
    </div>
   </header>
   
  <p id="product-description"><%= product.description %></p>
</main>

<%- include('../../shared/includes/footer') %>